:root {
    --text: #fff;
    --statusBarBackground: #000;
    --statusBarText: #fff;
    --windowBackground: #fff;
    --windowText: #000;
    --desktop-background:  rgba(119, 207, 248, 1);
    --main-gradient : rgba(9,99,159,255);
    --window-header: linear-gradient(to right, rgba(211, 222, 224), rgb(208, 242, 255));
    --window-header-hover: linear-gradient(to right, #5d7f8b, #7aa7b3);
    --system-font:  'Roboto', sans-serif;
    --system-grey:  linear-gradient(to bottom, rgba(57, 63, 65,1),rgba(52,52,52,.98));
    --background-image: url(../images/projects/Rainbow_iPad+2.webp);
}

.fa-envelope {
    color: #fff;
}

.loader-display {
    font-size: 5vw;
    letter-spacing: 0.4em;
    font-family: var(--system-font);
}

#desktop {
    background-image: var(--background-image);
}

.task-bar button {
    font-size: 1.3vh;
    min-width: 30px;
}

.task-bar button:hover {
    background: var(--window-header-hover);
}

.desktop-icon img {
    max-width: 5vh;
    max-height: 5vh;
}

.icon-text {
    font-size: 1.5dvh;
    color: white;
}

.app-bar {
    background: var(--main-gradient);
    min-height: 5vh;
}

.app-bar-button-active {
    border-top: 5px solid var(--desktop-background);
}

.window-title {
    background: var(--window-header);
    color: black;
}

.fa-brands {
    color: black;
}
