:root {
    --text: #fff;
    --statusBarBackground: #000;
    --statusBarText: #fff;
    --windowBackground: #fff;
    --windowText: #000;

    --main-gradient : linear-gradient(to right, #768d92, #0083b0);
    --window-header: linear-gradient(to right, #26505a, #0d323f);
}


body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #f1f1f1;
    overflow: hidden;
}

.loader-page {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.fa-brands{
    color: whitesmoke !important;
}

.loader-display {
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    text-align: center;
    z-index: 5;
}

@keyframes flickerScreen {
    0% { opacity: 1; 
        background: aqua;
    }
    50% { opacity: 0.6;
        background: #fff;
    }
    100% { opacity: 1; 
        background: #000;
    }
}

.loader-back {
    position: absolute;
    top: 50%;
    left: 40%;
    border: 5px solid black;
    width: 20dvw;
    height: 2dvw;
    z-index: 5;
}
.loader-icon-inner {
    background: var(--main-gradient);
    width: 0dvw;
    height: 2dvw;
    -webkit-animation: grow 1s linear ; /* Safari */
    animation: grow 1s linear;
}



@keyframes grow {
    0% { width: 0px; }
    100% { width: 100%; }
}

#desktop {
    background-image: url(../images/backgroundOption2.jpg); 
    height: 92dvh;
    width: 100dvw;
    overflow: hidden;
    background-size: cover; /* This will scale the background image to cover the entire container */
    background-repeat: no-repeat;
    z-index: 1;
}



.de-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;

    border-radius: 5px;
}

.task-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--main-gradient);
    padding: 1%;
    border-bottom: #1d1d1d 2px solid;
    border-radius: 0px 0px 5px 5px;
    height: 1dvw;   
    color : white;  
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 1dvw;   
    color : white;
    width: 50%;
}


.task-bar button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    min-width: 120px;
    z-index: 1;
}

.task-bar button:hover {
    background: var(--window-header) ;
    color: white;
}

.window-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50px;
}

.window-buttons {
    color : black;
}



#task-bar-icon{
    width: 3vw;
    height: 4.5vh;
    margin: 5px;
    border-radius: 50px;

}

.drop-down-content {
    display: none ;
    list-style: none; 
    position: absolute;
    background-color: #f9f9f9;
    border: 1px dotted black;
    text-decoration: none;
    color: black;
    z-index: 20;
}

.drop-down-content a {
    text-decoration: none;
    color: black;
}

.drop-down {
    position: relative;
    display: inline-block;
    z-index: 20;
}

.drop-down:hover .drop-down-content {
    display: flex;
    flex-direction: column;
    z-index:2;
}


.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.window {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--windowBackground);
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    z-index: 4;
    position: absolute;
    overflow: hidden; 
    resize: both;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 20vw;

    font-size: 1dvw;
}

#clock {
    font-size: 1.2dvh;
}

#Contact {
    font-size: 1.5dvh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    column-gap: 10%;
}

.window-content {
    color : black;
    width: 100%;
}

.larger {
    width: 98% !important;
    height: 90% !important;
    overflow: hidden; 
    resize: none;
}

.window-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--window-header);
    color: white;
    width: 100%;
    position: fixed;
    cursor: move;
}

.window-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50px;
}

.desktop-grid {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 20px;
    height: 80%;
    width: 90%;
    position: absolute;
}

.desktop-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;

    position: absolute;
}

.desktop-icon img {
    max-width: 50px;
    max-height: 50px;
}

.icon-text {
    font-size: 1rem;
    text-align: center;
    cursor: text;
}

.desktop-icon:hover {
    background-color: rgb(104, 104, 179);
    color: white;
}

.active {
    background-color: rgb(48, 48, 114) !important;
    color: white;
}



.selection-rect {
    position: absolute;
    border: 1px dotted rgb(0, 110, 255);
    background-color: rgba(0, 0, 200, .5);
    z-index: 3;

}

.app-bar {
    gap : 3px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: visible;
    background: var(--main-gradient);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius:  5px 5px 0px 0px;
}

.app-bar-button {
    background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px dotted black;
    min-width: 120px;
    min-height: 20px;

    display: flex;
    flex-direction: row;

}

.app-bar-button-active {
    border-top: 5px solid black;
}

.fa-brands {
    color: black;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 10 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      fadeIn 1s steps(10, end),
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .typewriter a:visited {
    color: var(--text);
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 50% }
  }
  
  .embed-responsive {
    position: absolute;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

.about {
    display: flex;
    flex-direction: column;
}

#face {
    border-radius: 10%;
    box-shadow: inset;
    width: 30%;
    height: 30%;
    margin: 10%;
    display: inline-block;
    border: 3px solid white;
}



@media only screen and (orientation: portrait ) {

    #desktop {
        height: 93.2dvh;
        width: 100dvw;
    }

    .desktop-grid {
        height: 80dvh;
        width: 100%;
    }

    .task-bar {
        height: 5%;
        font-size: .5vh;
        display: flex;
        flex-direction: row;
    }

    .app-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 5%;

    }
    #task-bar-icon{
        width: 4vw;
        height: 2vh;
        margin: 5px;
        border-radius: 50px;
    }


    .desktop-icon img{
        border-radius: 50%;
    }


}


.notes {
    margin: 50px;
}