:root {
    --text: #fff;
    --statusBarBackground: #000;
    --statusBarText: #fff;
    --windowBackground: #fff;
    --windowText: #000;
    --system-grey:  grey;
    --system-font: "Roboto";
    --main-gradient : linear-gradient(to right, #768d92, #0083b0);
    --window-header: linear-gradient(to right, #26505a, #0d323f);
    --background-image:url(../images/projects/backgroundOption2.webp);
}


.fas {
    color: whitesmoke !important;
}

.loader-display {
    font-size: 2em;
    letter-spacing: 0.2em;
}

#desktop {
    background-image: var(--background-image);
}

.de-button {
    background-color: #4CAF50;
    padding: 10px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: 1rem;
}

.task-bar button {
    font-size: 1rem;
    min-width: 10px;
}

.task-bar button:hover {
    background: var(--window-header);
}

.desktop-icon img {
    max-width: 50px;
    max-height: 50px;
}

.icon-text {
    font-size: 1rem;
}

.app-bar {
    background: var(--main-gradient);
    border-radius: 5px 5px 0px 0px;
}

.app-bar-button-active {
    border-top: 5px solid black;
}

.window-title {
    background: var(--window-header);
    color: white;
}
