


.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }


/*
TYPE WRITER CODE 
*/
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 10 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      fadeIn 1s steps(10, end),
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
    
  }

  @keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}














  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  footer a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }

